.navbar-nav .nav-item span {
  display: block;
  padding-bottom: 0.425rem;
  padding-top: 0.425rem;
}

.navigation-bar{
  background-color: white;
  color: orange;
}
.navbar-brand {
  font-size: 25px;
    
}
nav .brand-logo {
  color: orange;
}
body {
  font-family: Arial;
}
h1 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

#messages {
  max-height: 450px;
  overflow-y: auto;
  .avatar {
    margin: 0.5rem;
  }
}
.chat-rooms{
  float: right;
  display: block;
  
}
.chat-rooms-header{
  display: block;
  float: left;

}
footer {
  margin-top: 50px;
}

.log-in {
  max-width: 40%;
}