<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <title>RailsChat</title>
=======
    <title>ChatRoom</title>
>>>>>>> 65fd87e3638bf41dbe58ee62bbf155620cc73d68
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
